accelerate==0.21.0
av==12.2.0
bitsandbytes==0.43.1
datasets==2.20.0
decord==0.6.0
deepspeed==0.12.6
einops==0.8.0
einops_exts==0.0.4
flash_attn==2.5.9.post1
huggingface_hub==0.23.4
matplotlib==3.9.1
numpy==2.0.0
opencv_python==4.10.0.84
packaging==24.1
pandas==2.2.2
peft==0.11.1
Pillow==10.4.0
pytest==8.2.2
Requests==2.32.3
seaborn==0.13.2
tokenizers==0.19.1
torch==2.0.1+cu118
torchvision==0.15.2+cu118
tqdm==4.66.4
transformers==4.37.2
triton==2.0.0
xformers==0.0.27
yunchang==0.2
